numpy<2.0.0
pandas==2.2.3
loguru==0.7.3
httpx==0.28.1
parsel==1.10.0
aiofiles==24.1.0
torch==2.3.1
transformers==4.41.1
xlsxwriter==3.2.2
openpyxl==3.1.2
streamlit==1.44.1
streamlit-option-menu==0.4.0
unidecode==1.4.0
plotly==6.1.1